
<style>
    h1{color:red;
        border:2px solid green;
        border-radius:20px;
        width:50%;
        }
    body{background-color:grey;}
    textarea{border:2px solid red;}
</style>



<body>
<center><h1>welcome to wordcount</h1>

<form action="count ">
    <textarea  name="fulltextarea" cols="40" rows="10" placeholder="Type something here"></textarea><br>
    <input type="submit" value="count!"/>
<ol>
    <li>Type somethings above in the box</li>
    <li>Then click on the count button</li>
</ol>



</form>
</center>
</body>